{% extends "base.html" %}
{% block content %}

<script>
  $(document).ready(function () {
    // executes when HTML-Document is loaded and DOM is ready
    console.log("document is ready");


    $(".card").hover(
      function () {
        $(this).addClass('shadow-lg').css('cursor', 'pointer');
      }, function () {
        $(this).removeClass('shadow-lg');
      }
    );

    // document ready  
  });

</script>

<div class="jumbotron">
  <h1 class="display-4">About ACA</h1>
  <p class="lead">Here at ACA we pride ourselves on our commitment to you, our customers.</p>
  <hr class="my-4">
  <h2>Our Values</h2>
  <p>To ensure we uphold our high standards we have set ourselves target for the upcoming years.</p>
  <div class="card-deck">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://getdrawings.com/free-icon/eco-friendly-icon-73.png" alt="Environment"
            style="width:200px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>Environment</h1>
          <p>We are commited to ensuring our company continuous to provide 100% recyclable packaging while reducing the
            ammount of plastic we use.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/people-512.png" alt="People"
            style="width:200px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>People</h1>
          <p>ACA are dedicated to providing a positive working environment, this means employing people from across the
            globe and making sure all are treated equally.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="https://cdn0.iconfinder.com/data/icons/wedding-outline-1/64/luxury-fashion-jewelry-quality-diamond-business_and_finance-512.png"
            alt="Quality" style="width:200px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>Quality</h1>
          <p>Perfection. That is all we will settle for, only the best products because that is what you deserve. At ACA
            we only use the highest quality materials and best production techniques.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://static.thenounproject.com/png/1120827-200.png" alt="Support"
            style="width:200px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>Support</h1>
          <p>When things go wrong we know how important it is to have good communication, that is why we aim to have all
            customer queries awnsered within 1 hour and all issues resolved within the same day.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h2>Subscriptions</h2>
  <section class="pricing py-5">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="zoom">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Standard Delivery Charges</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Up to 5 Working Days Delivery</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Access to Pre-release
                    Purchases</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Exclusive Discounts and
                    Offers</li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase disabled">Currently Active</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="zoom">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
                <h6 class="card-price text-center">$17.99<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Free Delivery</strong></li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Next Day Delivery</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Access to Pre-release Purchases</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Exclusive Discounts and Offers</li>
                </ul>
                <a href="http://127.0.0.1:8000/shop/product/8/" class="btn btn-block btn-primary text-uppercase">Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}