{% extends "base.html" %}
{% block content %}
{% for product in all_products_list %}
<div>
    <h4>CATEGORIES</h4>
    <ul class="list-group">
        {% for c in view.categories %}
            <li class="list-group-item catheight"> {{c.name}}
                <span class="badge">{{c.product_set.all|length}}</span>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products_list %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.description}}</td>
                <td>{{product.stock}}</td>
                <td>&euro;{{product.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}