{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">           
      <table class="table table-bordered table-hover table-condensed">
          <thead>
              <!-- The header row-->
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Item Price</th>
                  <th>Total</th>
                  <th>Quantity</th>
                  <th>dec.</th>
                  <th>inc.</th>
              </tr>
          </thead>
          <tbody>

              <!-- Start of For loop - For each p in products add a row -->
              {% for cart_item in cart_items %}
              <tr>
                  <td>{{cart_item.product.name}}</td>
                  <td>{{cart_item.product.description}}</td>
                  <td>€{{cart_item.product.price}}</td>
                  <td>{{cart_item.sub_total}}</td>
                  <td>{{cart_item.quantity}}</td>
                  <td><a href="{% url 'cart_remove' cart_item.product.id %}">  
                    <span class="fas fa-minus"></span></a></td>
                  <td><a href="{% url 'add_cart' cart_item.product.id %}">  
                      <span class="fas fa-plus"></span></a></td>
              </tr>
              {% endfor %}
              <!-- End of For loop -->
          </tbody>
      </table>
      <div class="row">
          <div class="col-md-12">
              <p class="text-right"><strong>Basket Total: &euro; {{total}}</strong></p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <p class="text-right">
                  <a href="{% url 'full_remove' %}" class="btn btn-danger btn-sm">
                      <span class="fas fa-trash"></span> Empty Cart</a>
              </p>
          </div>
          <div class="col-md-6">
              <p class="text-right">
                  <a href="{% url 'order_create' %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-euro"></span> Place Order</a>
              </p>
          </div>
      </div>
  </div>
</div>
<h2>Buy for PRICE</h2>
<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="A Django Charge"
          data-amount="500"
          data-locale="auto"></script>
</form>
{% endblock content %}